</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright <img src="/images/logo-R-c.png" width="15px" alt="logo picture"> 2020. Ratko Pokrajac</p>
  </div>

</div>

</body>

</html>
